@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../font/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/MyriadPro-Regular.otf')  format('opentype'),
        url('../font/MyriadPro-Regular.woff') format('woff'),
        url('../font/MyriadPro-Regular.ttf')  format('truetype'),
        url('../font/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{
    font-family: 'MyriadPro-Regular';
}
body.show-sidebar{
    overflow:hidden;
}
a. a:hover{
    text-decoration: none !important;
}
img {
    max-width: 100%;
    height: auto;
}
.button-center {
    text-align:center;
}
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
.mgl20{
    margin-left: 20px;
}
.mgl20important{
    margin-left: 20px !important;
}
.mgb10{
    margin-bottom:10px;
}
.mgb15{
    margin-bottom:15px;
}
.mgb6{
    margin-bottom:6px;
}
.mgt10{
    margin-top:20px;
}
.mgt15{
    margin-top:15px;
}
.mgb20{
    margin-bottom:20px;
}
.padding10{
    padding:10px;
}
.paddingtb10{
    padding-top:10px;
    padding-bottom:10px;
}
.no-padding-lr{
    padding-left:0 !important;
    padding-right:0 !important;
}
.form-horizontal .form-group{
    margin-left:0;
}
.form-horizontal .form-group .form-width{
    width: 70px !important;
}
.row-eq-height{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.ftcontent{
    color:#fff;
    text-align:center;
    font-size:100%;
    font-family:MyriadPro-Regular;
}
/*HEADER*/
#header-top{
    padding: 20px 0 0;
}
#header-logo{
    padding-left:0;
}
h1#logo {
    margin-top:10px;
}
#logotext p{
    color: #17559e;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
#logotext p i{
    font-style:normal;
    font-size:1.5em;

}
#dmenu li#home a{
    background:url('../images/home.png') no-repeat scroll center 6px transparent;
    text-indent:-9999px;
    margin-left:0;
    width:50px;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu, .user-login {
    display: none;
    position: absolute;
    left: 0;
    background: #fff;
    visibility: hidden;
    display: block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 120%;
    -webkit-box-shadow: 1px 1px 5px #dfdfdf;
    box-shadow: 1px 1px 5px #dfdfdf;
    border-top: none;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu {
    min-width: 175px;
    padding: 5px 0;
}

#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 {
    margin: 0;
    padding: 5px;
    list-style: none;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li {
    position: relative;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li.has-child{
    background:url('../images/arrow.png') no-repeat scroll right center transparent;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li.has-child:hover{
    background:url('../images/arrow-hover.png') no-repeat scroll right center transparent;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li li {
    position: relative;
}

#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li li:last-child a:before {
    display: none !important;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li:hover > a,
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li.active > a,
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li li:hover > a,
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li li.active > a {
    color: #C93633;
    text-decoration:none;  
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li:hover > .wrap_submenu,
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li li:hover > .wrap_submenu{
    display: block;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.25s ease-out 0.2s;
    -o-transition: all 0.25s ease-out 0.2s;
    transition: all 0.25s ease-out 0.2s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    display: block;
    visibility: visible;
    -webkit-box-shadow: 1px 1px 5px #dfdfdf;
    box-shadow: 1px 1px 5px #dfdfdf;
    border: 1px solid #efefef;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li:last-child a:before {
    display: none;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li a {
    display: inline-block;
    padding: 4px 15px;
    color: #5f5f5f;
    font-size: 100%;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li .wrap_submenu {
    display: none;
    position: absolute;
    min-width: 110px;
    width:100%;
    padding: 5px 0;
    top: 0%;
    left: 103%;
    background: #fff;
    border-radius: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    display: block;
    visibility: hidden;
}
#dmenu ul.mainnav li.level0:hover {
    z-index: 9999;
}
#dmenu ul.mainnav li.level0:hover > div.wrap_submenu {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
}
#dmenu ul.mainnav li.level0 > a {
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    padding: 15px 20px;
    position: relative;
    font-size: 95%;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 500;
    position: relative;
    color: #fff;
}
#dmenu ul.mainnav li.level0.active > a,
#dmenu ul.mainnav li.level0:hover > a {
    background: #fff;
    color: #319ecc;
    z-index: 9999;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li .wrap-bigsubmenu {
    min-width: 540px;
    padding-top:0;
    padding-bottom:0;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li .wrap-bigsubmenu h5{
    background-color:#6d716e;
    text-align:center;
    margin:0;
    padding:5px 0;
    color:#fff;
    font-weight:700;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li .wrap-bigsubmenu ul{
    text-align:center;
}
#dmenu ul.mainnav li.level0 > div.wrap_submenu ul.level0 > li .wrap-bigsubmenu ul li.big-submenu-item{
    border-right:1px solid #efefef;
    border-bottom:1px solid #efefef;
}
#header-bot{
    background: none scroll 0 0 #aa2a2a;
}
.container_in::before, .container_in::after, .mainnav::before, .mainnav::after{
    content: " ";
    display: table;
}
.container_in::after, .mainnav::after{
    clear: both;
}
#header-bot #main-menu{
    float: left;
}
#header-bot #user-wrap{
    float: right;
    position: relative;
    text-align: right;
}

#dmenu ul.mainnav, #user-wrap ul.mainnav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#dmenu ul.mainnav li.level0, #user-wrap ul.mainnav li.level0 {
    border: medium none;
    display: inline-block;
    float: left;
    position: relative;
    text-align: left;
}
#dmenu ul.mainnav li.level0 > a, #user-wrap ul.mainnav li.level0 > a {
    font-family: MyriadPro-Regular;
    color: #fff;
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 17px;
    padding: 13px 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease-out 0s;
}
#dmenu li#home.active, #dmenu li#home:hover, #dmenu ul.mainnav li.level0.active > a, #dmenu ul.mainnav li.level0:hover > a,
#user-wrap ul.mainnav li.level0.active > a, #user-wrap ul.mainnav li.level0:hover > a {
    background: #772525 none repeat scroll 0 0;
    color: #fff;
    z-index: 9999;
    text-decoration: none;
}
#user-wrap ul.fontsmall li.level0 > a{
    font-size: 95%;
}
/*Mobile menu*/
#mmenu{
    position:relative;
    height:43px;
}
#mmenu ul{
    list-style:none;
    padding:0;
    margin:0;
}
.btn-navbar{
    background:url('../images/mmenu.png') no-repeat scroll 0 0 transparent;
    width:21px;
    height:17px;
    cursor: pointer;
    display: block;
    position: absolute;
    top:14px;
}
#mmenu .mainnav .accr_content {
    padding-left: 15px;
}
#mmenu .mainnav a.active {
    color: #319ecc;
}
#mmenu .mainnav .accr_header {
    border-bottom: 1px solid #a34d50;
    padding: 3px 0;
    line-height: 30px;
}
#mmenu .mainnav .accr_header .btn_accor {
    cursor: pointer;
    float: right;    
}
.fa-plus::before{
    content:"";
    background:url('../images/plus.png') no-repeat scroll 0 5px transparent;
    width:32px;
    height:32px;
    display:block;
}
.fa-minus::before{
    content:"";
    background:url('../images/minus.png') no-repeat scroll 0 15px transparent;
    width:32px;
    height:32px;
    display:block;
}
#mmenu .btn2 .overlay {
    content: "";
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background: #000;
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: pointer;
}
#mmenu .collapse_wrap {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    background: #222;
}
#mmenu .collapse_wrap:before {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -1000px;
    right: -1000px;
    z-index: -1;
    background: #222;
    content: '';
    display: none;
}
#mmenu #menu_collapse > ul {
    padding: 20px;
}
#mmenu #menu_collapse a {
    color: #fff;
}
#mmenu #menu_collapse a:hover {
    color: #fff;
}
#mmenu #menu_offcanvas {
    position: fixed;
    top: 0;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
    filter: alpha(opacity=0);
    left: -250px;
    height: 100%;
    overflow: auto;
    width: 250px;
    background: #AA2A2A;
    color: #b9b9b9;
    padding: 20px;
    z-index: 9999;
}
#mmenu #menu_offcanvas > ul {
    padding-bottom: 50px;
    padding-left:0;
    list-style:none;
}
#mmenu #menu_offcanvas.active {
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}
#mmenu #menu_offcanvas a {
    color: #b9b9b9;
    display: inline-block;
    position: relative;
    padding-right: 15px;
}
#mmenu #menu_offcanvas a:hover {
    color: #fff;
}
#mmenu #menu_offcanvas .label {
    border-radius: 1px;
    font-size: 10px;
    padding: 1px 6px 2px;
    margin: 0;
    position: absolute;
    top: 7px;
    z-index: 99999;
    color: #fff;
    text-transform: uppercase;
    height: 17px;
    line-height: 17px;
    background: #319ecc;
    left: 100%;
    white-space: nowrap;
}
#mmenu #menu_offcanvas .label:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #319ecc;
    position: absolute;
    top: 70%;
    left: 0;
    display: none;
}
#mmenu #menu_offcanvas .label.sale {
    background: #f6a84b;
}
#mmenu #menu_offcanvas .label.sale:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #f6a84b;
}
#mmenu #menu_offcanvas .label.hot {
    background: #f34743;
}
#mmenu #menu_offcanvas .label.hot:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #f34743;
}
#mmenu #menu_offcanvas .label.new {
    background: #319ecc;
}
#mmenu #menu_offcanvas .label.new:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #319ecc;
}
#mmenu h5.big-submenu-title{
    display:none;
}
.wrap-bigsubmenu ul li > a {
    font-weight:500;
}
/* FOOTER */
#footer{
    background-color:#c83532;
    border-top:3px solid #c83532;
    padding:10px 0;
    margin-top:20px;
}
/*DATE PICKER*/
.ui-widget-content{
    background-color: #f3f3f3;
    border:none !important;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br,
.ui-corner-left, .ui-corner-bl, .ui-corner-top, .ui-corner-tr,
.ui-corner-top, .ui-corner-left, .ui-corner-tl{
    border-radius: 0 !important;
}
.ui-datepicker{
    padding: 0 !important;
}
.ui-widget-header{
    background: #C93633 none repeat scroll 0 0 !important;
    border: 0 !important;
}
.ui-datepicker .ui-datepicker-title select{
    background-color: #C93633;
    border: medium none;
    color: #fff;
    font-size: 12px !important;
    margin-right: 5px !important;
}
.ui-icon-circle-triangle-w{
    background:transparent url("../images/cldleft.png") no-repeat scroll 3px 7px !important;
}
.ui-icon-circle-triangle-e{
    background:transparent url("../images/cldright.png") no-repeat scroll 3px 7px !important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: none !important;
    background: #C93633 none repeat scroll 0 0 !important;
    cursor: pointer;
}
.ui-datepicker table{
    margin-bottom: 0 !important;
}
.ui-datepicker th{
    color: #bababa;
    font-weight: normal !important;
    font-size: 10px;
}
th.ui-datepicker-week-end:last-child{
    border-right: 1px solid #b9b9b9 !important;
}
th.ui-datepicker-week-end:first-child{
    border-left: 1px solid #b9b9b9 !important;
}
.ui-datepicker td{
    border: 1px solid #b9b9b9 !important;
    padding:0 !important;
    background-color: #e2e2e2;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: none !important;
    background-color: #e2e2e2 none repeat scroll 0 0 !important;
    padding:8px 0;
}
.ui-datepicker td span, .ui-datepicker td a{
    text-align: center !important;
    font-size: 12px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background-color: #C93633 !important;
    color: #fff !important;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary{
    background-color: #fff !important;
    opacity: 1 !important;
    color: #bababa !important;
}
.ui-datepicker-week-col{
    font-size: 14px;
    text-align: center;
    width: 40px;
}

.redstar{
    color:#D64441;
}
.box-content{
    border:1px solid #ccc;
    border-top:none;
    overflow:hidden;
}
.col-right{
    border-left: 1px solid #ccc;
    background-color:#F6F5F4;
}
.box-content .radio{
    display:inline-block;
    margin-top:0;
    margin-right:10px;
}
.user-login{
    min-width: 160px;
    width:200px;
    padding: 10px;
    top: 100%;
    z-index: 9999;
    left:-50%;
}
/*#user-wrap li:hover .user-login {
    display:block;
    opacity:1;
    visibility:visible;
}*/
.hover-login{
    display:block;
    opacity:1;
    visibility:visible;
}
/* MENU Má»šI */
.menuwrap{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ff9000 #aa2a2a #aa2a2a;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    display: none;
    left: -50px;
    position: absolute;
    width: 1230px;
    padding-top:10px;
    padding-bottom:10px;
}
.menuwrap .menubox ul {
    padding-left: 0;
}
.menuwrap .menubox ul li {
    border-bottom: 1px dotted;
    padding: 3px;
}
.menuwrap .menubox ul li:last-child {
    border-bottom: none;
}
.menuwrap .menubox ul li.lired {
}
.menuwrap .menubox ul li.lired a {
    color: #aa2a2a;
    font-weight: bold;
    text-transform: uppercase;
}
.menuwrap .menubox ul li a {
}
.level0:hover .menuwrap {
    display: block;
}
/*hot news*/
#hotnews{
    margin-top:10px;
    margin-bottom:10px;
}
.hot-news-left{
    background-color: #aa2a2a;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    width: 88px;
}
ul.newsticker li {
    background:url('../images/hotnews.png') no-repeat scroll 2px 3px  transparent;
    padding-left:15px;
}
a.fm {
    display: inline-block;
    margin-left: 3px;
    padding: 6px 8px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-size:1.1em;
}
a.fm:hover {
    color:#fff;
}
a.fm-hong {
    background-color: #ffa3a4;
    color: #a34d50;
}
a.fm-xanh {
    background-color: #b5eae0;
    color: #17836c;
}
a.fm-cam {
    background-color: #fcd393;
    color: #986b28;
}
.hot-news-right{}
@media (min-width: 1200px) { 
   #logotext{
       padding-top: 25px;
   } 
   #hdads{
        display:inline-block;
        text-align:center;
   }
}
@media (max-width: 1199px) {
    .menuwrap{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ff9000 #aa2a2a #aa2a2a;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    display: none;
    left: -50px;
    position: absolute;
    width: 970px;
    padding-top:10px;
    padding-bottom:10px;
    }
}
@media (max-width: 983px) {
    .hot-news-right {
        
    }
    #fmwrap a{
        margin-top:5px;
    }
    #fmwrap a:first-child{
        margin-left:0;
    }
}
@media (max-width: 768px) {
    .hot-news-right {
        
    }
    .col-right{
        border-left:none;
        padding:0 10px !important;
    }
}
@media (max-width: 767px) { 
    .form-horizontal .form-group .form-width {
        width: 100% !important;
    }
    .mgl20important {
        margin-left: 0px !important;
    }
    .mgt10-1 {
        margin-top: 10px;
    }
}
@media (max-width: 320px) {
    #tbtrungso h4{
        font-size: 10px;
    }
    #tbtrungso p{
        font-size: 8px;
        line-height: 12px;
        margin-top: 3px;
    } 
}

li {
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.news img {
    display: block;
    margin: 0 auto;
}
.header-title, .header-title-aside {
    font-family: MyriadPro-Regular;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color:#FFF;
}
.header-title-aside {
    text-align: left;
    padding-left: 15px;
}
.header-title h4 {
    line-height: 40px;
    margin-bottom: 0px;
}

.pagination {
    background: transparent none repeat scroll 0 0;
    height: 40px;
    text-align: right;
}
.pagination ul li {
    display: inline-block;
}
.pagination ul li a {
    /*color: #000;*/
    display: block;
    font-weight: 700;
    line-height: 22px;
    padding: 0 10px;
}
.pagination ul li a:hover {
    color:#D64441;
}
.btn-xs {
    color:#fff;
    border-radius:10px !important;
}
.btn-color-red {
    background-color: #AF0A09;
    margin-right: 15px;
}
.btn-color-green {
    background-color: #1F932E;
}